<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Lego Collection</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<%- include('partials/navbar', {page: '/register' }) %>
<div class="w-full max-w-lg">
    <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Register</h1>
                <p class="py-6">Please Enter Your Username, Password, and Email</p>
            </div>
        </div>
    </div>
    <form class="bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4" action="/register" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="userName">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="userName" name="userName" type="text" placeholder="Username" value="<%= typeof userName != 'undefined' ? userName : '' %>">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="Password">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password2">
                Confirm Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password2" name="password2" type="password" placeholder="Confirm Password">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email Address
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Register
            </button>
        </div>
        <% if (typeof errorMessage != 'undefined') { %>
            <p class="text-red-500 text-xs italic mt-4">
                <%= errorMessage %>
            </p>
        <% } %>
        <% if (typeof successMessage != 'undefined') { %>
            <p class="text-green-500 text-xs italic mt-4">
                <%= successMessage %>
            </p>
        <% } %>
    </form>
</div>
</body>
</html>
